<!DOCTYPE html>
<html>
<head>
	<title>HotelBookingApp</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body class="landing">
	<div class="landingText">
		<h1 class="hname">The Peninsula</h1>
		<p>Experience the Luxury</p>
		<a href="/hotels" class="btn btn-lg button1 button2"> View Rooms >> </a>
	</div>
</body>
</html>

